* {
    box-sizing: border-box;
}

body {
    font-size: 16pt;
    margin: 0px;
}

#page {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

a {
    text-decoration: none;
}

.wrapper {
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
}

/*--- Header / Nav ---*/

header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 12vh;
    background-image: url('../images/header-bg.jpeg');
    padding: 5px 15px;
    padding: 5px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav-wrapper {
    max-width: 900px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-logo img {
    height: 60px;
    margin: 0;
    padding: 0;
}

.header-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-family: 'Roboto';
}

.header-phone-number p, a {
    font-size: .8rem;
    color: #333;
}

.header-phone-number p {
    margin: 0 10px 15px 0;
}

.efelle-menu {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}

.efelle-menu li {
    list-style-type: none;
    font-size: .6rem;
    text-transform: uppercase;
    margin: 0 .3rem;
}

.efelle-menu a {
    transition: all 300ms ease-in-out;
}

.efelle-menu a:hover {
    text-shadow: 0 0 6px grey;
}

/*--- Masthead ---*/
.homepage-slider {
    height: 88vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homepage-masthead {
    height: 100%;
    width: 100%;
    padding: 0 100px;
}

.masthead-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.masthead-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color:#FFFFFF;
    text-shadow: 0 0 10px black;
}

.masthead-content h5, h2 {
    margin: 5px;
}

.masthead-content hr {
    margin: 0 0 10px 0;
    width: 65px;
    border-top: 1px solid #FFFFFF;
}

.enquire-button {
    background-color: #446286;
    margin: 30px 0;
    padding: 5px 50px;
    transition: all 300ms ease-in-out;
}

.enquire-button:hover {
    box-shadow: 0 0 8px black;
}

.enquire-button p {
    font-family: 'Roboto';
    text-transform: uppercase;
    color:#FFFFFF;
    transition: all 300ms ease-in-out;
}

/*--- Services ---*/
.our-services {
    width: 100%;
    background-image: url('../images/woodgrain-bg.jpeg');
    padding: 50px 0;
}

.our-services p, h1 {
    font-family: 'Roboto';
    color: #333;
}

.our-services h4 {
    font-family: 'Teko';
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 300;
    font-size: 1.6rem;
    margin: 0;
}

.cms-content p, h1 {
    margin: 10px;
}

.cms-content hr {
    /* margin: 0 0 10px 0; */
    width: 30px;
    border: 1px solid #333;
}

.services-row {
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin: 0;
    padding: 20px 0;
}

.overlay {
    background-color: rgb(41, 40, 40, 0.6);
    height: 150px;
    width: 150px;
    border-radius: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 500ms ease-in-out;
}

.overlay hr {
    width: 25px;
    border: 1px solid #FFFFFF;
    margin: 0;
}

.service-block-wrapper {
    height: 270px;
    width: 270px;
    margin: 10px;
    padding: 0;
}

.service-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    object-fit: contain;
    background-size: cover;
}

.service-block:hover {
    cursor: pointer;
}

.service-block:hover .overlay {
    height: 180px;
    width: 180px;
    border-radius: 90px;
}

/*--- Footer ---*/
footer {
    width: 100%;
    padding: 30px 75px;
    font-size: 1rem;
    color: white;
    background-color: #222427;
}

footer p {
    font-family: 'Roboto';
}

.address, .phone {
    font-size: .8rem;
}

.copy {
    font-size: .6rem;
}

.footer-row {
    align-items: flex-start;
    justify-content: space-between;
}

.phone {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer-social-icons a {
    margin: 5px;
}

.footer-social-icons img {
    height: 20px;
}


/*--- || MEDIA QUERIES + RESPONSIVE STYLES || ---*/

